@media screen and (max-width: 375px) 
{
    .Title_Fade
    {
        font-size: 100px;
        opacity: 5%;
        margin-top: 100px;
        margin-bottom: 0px;
    }
    .Title
    {
        font-size: 50px;
        margin-top: -90px;
    } 
    /* Header */
    header
    {
        width: 100%;
        height: 90px;
    } 
    header li
    {
        font-size: 20px;
        margin-left: 20px;
        padding-top: 30px;
    }  
    /* Baner */
    #Baner
    {
        width: 100%;
        height: 70%;
    }
    .Slide
    {
        margin-top: 260px!important;
    }
    /* About */
    #About .Title
    {
        margin-right: 40%;
    }
    #About .About-info
    {
        width: 30%;
        margin-top: 100px;
        margin-right:20% ;
    }
    #About img
    {
        width: 20%;
        height: 300px;
        margin-right: 60%;
        margin-top: -300px;
        border-radius: 25px;
    }
    #About h3
    {
        font-size: 20px;
    }
    #About p
    {
        font-size:15px;
    }
    /* Activity */
    #Activity 
    {
        width: 100%;
        height: 500px;
    }
    #Activity .Title
    {
        margin-right: 40%;
    }
    #Activity .Activity-Box
    {
        margin-top: 0px;
        width: 25%;
        height: 300px;
        margin-right: 6%;
        border-radius: 25px;
    }
    #Activity img
    {
        width: 70%;
        margin-right: 0px;
    }
    /* Executive */
    #Executive 
    {
        width: 100%;
        height: 200px;
    }
    #Executive .Title
    {
        margin-right: 35%;
    }
    #Executive p
    {
        font-size: 25px ;
        margin-right: 20%;
        margin-top: 80px;
    }
    /* Commission */
    #Commission 
    {
        width: 100%;
        height: 450px;
    }
    #Commission .Title
    {
        margin-right: 27%;
    }
    #Commission .Commission-Info
    {
        width: 80%;
        margin-right: 10%;
        padding-top: 100px;
    }
    #Commission img
    {
        width: 25%;
        height: 250px;
        margin-right: 10%;
    }
    #Commission .Commission-Text
    {
        width: 40%;
        margin-right: 20%;
    }
    .Commission-Text p
    {
        margin-top: 30px;
        font-size: 15px;
    }
    /* Compaign */
    #Compaign 
    {
        width: 100%;
        height: 800px;
    }
    #Compaign .Title
    {
        margin-right: 30%;
    }
    #Compaign .Address
    {
        width: 100%;
        height: 600px;
    }
    #Compaign .Compaign-Info
    {
        width: 40%;
        height: 250px;
        margin-right: 20%;
    }
    .Compaign-Info h3 
    {
        font-size: 20px;
        margin-top: 20px;
        margin-right: 10%;
    }
    #Compaign iframe
    {
        width: 80% !important;
        height: 350px;
        margin-right: 10%;
        border-radius: 50px;
    }
    /* Contact */
    #Contact 
    {
        width: 100%;
        height: 400px;
    }
    #Contact .Title
    {
        margin-right: 30%;
    }
    #Contact .flag-2 
    {
        width: 100%;
    }
    #Contact .Social-box
    {
        width: 40%;
        height: 300px;
        margin-top: -220px;
        padding-right: 70px;
    }
    #Contact p
    {
        margin-top: 25px;
        margin-right: 50px;
        font-size: 15px;
    }
    #Contact .Social-Icon
    {
        width: 30px;
        height: 30px;
        margin-left: 20px;
    }
    /* Footer */
    footer 
    {
        width: 100%;
        height: 100px;
        padding-top: 30px;
    }
    footer h4
    {
        padding: 0 !important;
        margin: 0 !important;
        font-size: 25px;
    }
}